@import '../../../styles/globals/variables';

.wrapper {
    position: relative;
}

.stats {
    position: absolute;
    width: 100%;
    left: 5px;

    ul {
        display: inline-block;
        width: 100%;
        padding: 0;
        background-color: olive;

        li {
            position: absolute;
            display: inline-block;
            width: 120px;
            top: 0;
            list-style: none;
            text-align: center;
            font-size: 0.75rem;
            font-weight: bold;
            background-color: $orange;
            color: $white;
            box-sizing: border-box;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            &:last-child {
                background-color: $green;
                right: 10px;
            }
        }
    }
}