@import '../../../../styles/globals/variables';

.todo {
    position: relative;
    width: 50%;
    min-height: 60px;
    margin: 0px auto 10px auto;
    padding: 10px;
    border: 1px solid $grey;
    border-radius: 5px;
    box-shadow: $box-shadow;

    &--completed_title {
        color: $green;
        text-decoration: line-through;
    }

    &--incompleted_icon {
        position: absolute;
        top: -5px;
        right: 5px;
        color: $grey;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
            color: $green;
        }
    }

    &--completed_icon {
        @extend .todo--incompleted_icon;
        color: $green;
    }

    &--delete_icon {
        position: absolute;
        bottom: 0px;
        right: 5px;
        color: $grey;
        font-size: 1.5rem;
        cursor: pointer;

        &:hover {
            color: $red;
        }
    }
}