@import '../../../styles/globals/variables';

.add-todo {
    height: 5rem;
    background-color: $white;
    text-align: center;
    box-shadow: $box-shadow;

    &--inputTodo {
        width: 250px;
        height: 40px;
        border: 1px solid $grey;
        border-radius: 5px;
    }

    & span {
        color: $orange;
        font-size: 0.75rem;
    }
}